
.site {
  
  /*
  @include outer-container;
  @include pad(1em 0);

  @include media($large-screen) {
    @include pad(4em 0);
  }
  */

  width: 100%;
}

.site-header {
  /*
  @include span-columns(12);
  
  @include media($large-screen) { 
    @include span-columns(3);
  }
  */
  background-color: $base-bg-color;
  width: 100%;
}
.site-content {
  @include span-columns(12);

  @include media($large-screen) {
    @include span-columns(9);
    @include omega();
  }
}

.page {
  .site-content {
    
  }
}

.site-main {
  article {
    @include outer-container;
    @include border-width(0 0 2px 0);
    @include border-style(solid);
    @include border-color ($action-color);
    @include margin(null null 2em null);

    &:only-of-type {
      border: none;
    }
  }
}


/* Styles for Indicators custom post type display */ 
.indicators {
   @include outer-container;
}


.entry-header {
  @include span-columns(9);
  @include omega();
}

.entry-content {
  @include span-columns(12);

  @include media($large-screen) {
    @include span-columns(8);
  }
}
.entry-sidebar {

  @include span-columns(12);

  @include media($large-screen) {
    @include span-columns(4);
    @include omega();
  }
}
.entry-footer {
  @include span-columns(11);
}

.indicators-archive {
  @include span-columns(10);
  @include omega();
}
