.site { 
  width: 100%;
}

.site-header {
  background-color: $action-color;
  width: 100%;
}

.site-branding {
  @include outer-container(75%);

  @include media($large-screen) {
    @include outer-container(65%);
  }

  padding: 2em 0;

  ul {
    @include fill-parent();
    @include row(table);
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.site-logo {
  @include span-columns(1 of 12);
  img { max-width: 100%; }
}

.site-meta {
  @include span-columns(10 of 12);
  @include reset-display;
  vertical-align: middle;
  padding-left: 1em;
 
}

.site-title {
  font-size: 1.953em;
  font-size: 3vw;
  margin-bottom: 0;
  margin-top: 0;

  a {
    color: $base-font-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: lighten($base-font-color, 20%);
    }
  }
}

.site-description {
  font-size: 1.25em;
  font-size: 2vw;
}

.site-content,
.content-area,
.site-main {
  width: 100%;
}

.site-main {
  background-image: url('images/20150612-indicators-dmnd-bg.jpg');
  background-repeat: repeat-y;
}

.site-footer {

  @include outer-container(100%);

  background-color: #fff;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-bottom: 16px solid $action-color;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    //border-top: 16px solid $action-color;
    }

  .site-info {
    @include span-columns(10 of 12);
    @include shift(1);

    padding: 2em 0;

    @include media($large-screen) {
      @include span-columns(6 of 12);
      @include shift(3);
    }

    h4 { text-align: center;}

    p { text-align: center; }

    img.aligncenter {
      width: 25%;
      margin: 1em auto;
      display: block;
    }
  }

}

// Styles for Pages
article.page,
article.error-404 {
  @include outer-container(100%);

  background: linear-gradient(
      rgba(#00aeed, .1),
      rgba(#238ccc, .2),
      rgba(#1079be, .3)
    ), 
  url('images/20150612-indicators-dmnd-bg.jpg');
  background-repeat: repeat-y;

  padding-bottom: 4em;

  .entry-header {
    background-color: $action-color;
    margin-bottom: 2em;
    padding: 2em 0;
    position: relative;
    width: 100%;


    &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid $action-color;
    }

    h1 {
      font-size: 1.563em;
      font-size: 3vw;
      margin: 0 auto;
      text-align: center;
    }

  }

  .entry-content,
  .entry-footer {
    @include span-columns(10 of 12);
    @include shift(1);

    @include media($large-screen) {
      @include span-columns(6 of 12);
      @include shift(3);
    }
  }

} // article.page


/* Styles for Indicators + Targets custom post type display */

.post-type-archive-indicators,
.single-indicators {
  .site-main {
  background-color: #fff;
  background: linear-gradient(
      rgba(#fcaf40, .1),
      rgba(#d73647, .2),
      rgba(#9f1f63, .3)
    ),
    url('images/20150612-indicators-dmnd-bg.jpg');

  }
}
.post-type-archive-targets,
.single-targets {
  .site-main {
  background: linear-gradient(
      rgba(#c1d72e, .1),
      rgba(#249745, .2),
      rgba(#046a3a, .3)
    ),
    url('images/20150612-indicators-dmnd-bg.jpg');

  }
}

.tax-goal {
  .site-main {
    background: linear-gradient(
      rgba(#fbac3b, .1),
      rgba(#f26830, .2),
      rgba(#ef4136, .3)
    ),
    url('images/20150612-indicators-dmnd-bg.jpg');

    padding-bottom: 4em;
  }

  .page-header {
    background-color: $action-color;
    margin-bottom: 2em;
    padding: 2em 0;
    position: relative;
    width: 100%;


    &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid $action-color;
    }

    h1 {
      font-size: 1.563em;
      font-size: 3vw;
      margin: 0 auto;
      text-align: center;
      max-width: 60%;
    }

  }

  article.targets {
    @include outer-container();

    .entry-header,
    .entry-content {

      @include span-columns(10 of 12);
      @include shift(1);

      @include span-columns(6 of 12);
      @include shift(3);
    }

    .entry-header {
      a > h1 {
        &:hover, &:focus { opacity: .5; }
      }
    }

    .entry-title {
      font-size: 1.25em;
      span {
        display: block;
        opacity: .5;
      }
    }

  }
} // .tax-goal page styles

.proposed-indicators {

  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1em;
  }
  li > a {

    color: #000;
    border-left: 5px solid rgba(0,0,0, .2);
    display: block;
    padding: 0.8em 0em 0.8em 0.8em;
    text-decoration: none;

    &:hover,
    &:focus {
      border-left: 5px solid rgba(0,0,0, .4);
    }

  }
} // proposed-indicators

// Search + 404 Styles
.search {
  .site-main {
    background: linear-gradient(
      rgba(#00aeed, .1),
      rgba(#238ccc, .2),
      rgba(#1079be, .3)
    ), 
    url('images/20150612-indicators-dmnd-bg.jpg');

    padding-bottom: 4em;
  }

  .page-header {
    background-color: $action-color;
    margin-bottom: 2em;
    padding: 2em 0;
    position: relative;
    width: 100%;


    &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid $action-color;
    }

    h1 {
      font-size: 1.563em;
      font-size: 3vw;
      margin: 0 auto;
      text-align: center;
    }

  }

  article.targets,
  article.indicators {
    @include outer-container();

    margin-bottom: 1em;

    .entry-header,
    .entry-summary,
    .entry-footer {

      @include span-columns(10 of 12);
      @include shift(1);

      @include span-columns(6 of 12);
      @include shift(3);
    }

    .entry-header {
      a { text-decoration: none; }
      a > h1 {
        &:hover, &:focus { opacity: .5; }
      }
    }

    .entry-title {
      font-size: 1.25em;
      margin: 0;
    }


}
}

.indicators-archive,
.targets-archive {
  @include outer-container();
  margin-top: 2em;
  padding-bottom: 4em;

  #goal-title {

    @include span-columns(10 of 12);
    @include shift(1);

    @include media($large-screen) {
      @include span-columns(6 of 12);
      @include shift(3);
    }

    font-size: 1.25em;

    &:before {
      content: "Filter: ";
    }
  }

  article.indicators,
  article.targets {
    
    @include span-columns(10 of 12);
    @include shift(1);

    margin-bottom: 1em;

    

    @include media($large-screen) {
      @include span-columns(6 of 12);
      @include shift(3);
    }

    .entry-header {
      width: 100%;

      a { 
        color: #000;
        border-left: 5px solid rgba(0,0,0, .2);
        display: block;
        padding: 0.8em 0em 0.8em 0.8em;

        &:hover,
        &:focus {
          border-left: 5px solid rgba(0,0,0, .4);
        }

      }

    .entry-title {
      font-family: $base-font-family;
      font-weight: 400;
      font-size: 1.25em;
      margin: 0;
    }


    }

  }
} // .indicators-archive + .targets-archive

.single-indicators {

  article.indicators {
    @include outer-container(100%);

    .entry-header {

      background-color: $action-color;
      margin-bottom: 2em;
      padding: 2em 0;
      position: relative;
      width: 100%;


      &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      margin-left: -16px;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $action-color;
      }

      h1 {
        font-size: 1.563em;
        //font-size: 2vw;
        margin: 0 auto;
        text-align: center;
        max-width: 90%;

        @include media($large-screen) {
          max-width: 60%;
        }
      }

      span {
        color: lighten($base-border-color, 5%);
        display: block;
        font-size: 75%;
        text-transform: uppercase;

      }

    } // .entry-header

    .entry-content {
      @include span-columns(10 of 12);
      @include shift(1);

      @include media($large-screen) {
        @include span-columns(6 of 12);
        //@include shift(3);
      }
    } // .entry-content

    .entry-sidebar {

      @include span-columns(10 of 12);
      @include shift(1);

      @include media($large-screen ) {
        @include span-columns(4 of 12);
        @include shift(0);
      }

      a { display: block; }

      ul > li {
        font-size: 90%;
      }

    } // .entry-sidebar

    .entry-footer {
      @include span-columns(10 of 12);
      @include shift(1);

      padding-bottom: 4em;
    }

  } // .article.indicators

} // .single-indicators page/article

.single-targets {

  article.targets {
    @include outer-container(100%);

    .entry-header {

      background-color: $action-color;
      margin-bottom: 2em;
      padding: 2em 0;
      position: relative;
      width: 100%;


      &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      margin-left: -16px;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $action-color;
      }

      h1 {
        font-size: 1.563em;
        //font-size: 2vw;
        margin: 0 auto;
        text-align: center;
        max-width: 90%;

        @include media($large-screen) {
          max-width: 60%;
        }
      }

      span {
        color: lighten($base-border-color, 5%);
        display: block;
        font-size: 75%;
        text-transform: uppercase;

      }

    } // .entry-header

    .entry-content {
      @include span-columns(10 of 12);
      @include shift(1);

      @include media($large-screen) {
        @include span-columns(6 of 12);
        @include shift(3);
      }

      ul {
        list-style: none;
        margin: 0 0 2em 0;
        padding: 0;

        li { margin-bottom: 1em;}
      }

      a {
        border-left: 5px solid rgba(0,0,0,0.2);
        display: block;
        padding: 0.8em 0em 0.8em 0.8em;
        text-decoration: none;
      }

    } // .entry-content

    .entry-sidebar {

      @include span-columns(10 of 12);
      @include shift(1);

      @include media($large-screen ) {
        @include span-columns(6 of 12);
        @include shift(3);
      }

      a { display: block; }

      ul > li {
        font-size: 90%;
      }

    } // .entry-sidebar

    .entry-footer {
      @include span-columns(6 of 12);
      @include shift(3);

      padding-top: 2em;
      padding-bottom: 4em;
    }

  }

} // .single-targets

// Misc styles shared by posts, pages, CPTs


.entry-header,
.entry-content,
.entry-footer,
.site-info {
  a { 
    color: #000;

    &:hover,
    &:focus {
      opacity: .5;
    }
  }
}

.entry-sidebar {

  a {
    color: #000;
    border-left: 5px solid rgba(0,0,0,0.2);
    display: block;
    padding: 0.8em 0em 0.8em 0.8em;
    text-decoration: none;
    &:hover,
    &:focus {
      opacity: .5;
    }
  }

}

.footnotes {
  margin-bottom: 3em;

  hr { border: 2px solid #000; opacity: .25; }

  ol > li {
    font-size: 75%;
  }
}