.main-navigation {
  width: 100%;
}

.nav-menu { 
  @include outer-container(100%);
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu {

  li { 
    @include span-columns(12);
    @include omega(12n);

    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n);
    }
  }
}

.menu-item {

  &:hover,
  &:focus {
      background-color: rgba($action-color, .5);
  }

  a {
    color: darken($action-color, 90%);
    display: block;
    font-family: $navigation-font-family;
    font-weight: 700;
    text-decoration: none;
    padding: 2em;
  }

}
.menu-item-description {
  font-size: 0.8em;
  font-weight: 400;
  border-top: 1px solid;
  margin-top: 0.8em;
  padding-top: 0.8em;
}

.menu-toggle {
  background: darken($action-color, 20%);
  border: none;
  font-family: $navigation-font-family;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  padding: 1em;
  width: 100%;

  @include media($large-screen) {
    display: none;
  }
}

.menu-navigation-container {
  background-color: darken($action-color, 10%);
  display: none;

  @include media($large-screen) {
    display: block;
  } 
}

.toggled {
  .menu-navigation-container {
    display: block;
  }
}