$base-font-family: "garamond-premier-pro", "Adobe Garamond Pro", "Adobe Garamond", serif;
$heading-font-family: "proxima-nova", "Proxima Nova", sans-serif;
$navigation-font-family: "proxima-nova", "Proxima Nova", sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$base-font-color: #333;
$highlight-color: #f99d1c;
$base-border-color: #ccc;
$action-color: #40b4e4;

// Screen Sizing
$medium-screen: em(640) !default;
$large-screen: em(860) !default;


body {
  background-color: #fff;
  //background: url('images/20150612-indicators-dmnd-bg-2.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
}