body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

// http://www.modularscale.com/?1&em&1.25&web&text

.entry-title {
  font-size: 1.563em;
}

.entry-content {

  h1,
  h2,
  h3 {
    font-size: 1.25em;
  }

  p,
  li {
    font-size: 1.25em;
    line-height: $base-line-height;
  }
}

.entry-sidebar {
  h3,
  h4 { font-size: 0.8em; }
  ul { @include pad(0); }
}

.bigfoot-footnote__content {
  font-size: 0.8rem;
}